/* .kt-datatable{
    display: block !important;
} */


.kt-footer{
    padding-left: 11px;
    padding-right: 11px;
}
.kt-user-card-v2  img{
    max-width: 120px !important;
    max-height: 119px !important;
    border-radius: 4px !important;
}

.map{
    width: 100%;
    height: 450px;
    z-index: 13;
}

.center-checkbox{
    top: -4px !important;
    left: 6px !important;
}
.cubierta{
    top: 0;
    position: absolute;
    left: 0;
    background: #1E1E2D;
    width: 100%;
    height: 145%;
    z-index: 97;
    display: none;
}
.activeButton{
    background-color: #5d78ff !important;
    color: #fff !important;
}
.w-99{
    width: 99% !important;
    height: 5px !important;
}
.hidden{
    display: none !important;
}
.img-profile{
    height: 115px;
    max-width: 170px !important;
}
.divider{
    border-bottom: 1px solid #eee;
    margin: 5px 0 5px 0;
}
.phone-list{
    height: 169px;
    position: relative;
    align-items: baseline;
    flex-direction: column;
}
.phone-list-item{
    font-size: 16px;
    width: 100%;
}
.line-th{
    text-decoration: line-through;
}
.hide-name {
    display: none;
}
.hide-price {
    display: none;
}
@media (max-width: 497px) {
    .hide-name {
      display: block;
    }
    .phone-list{
        height: 169px !important;
    }
}
@media (max-width: 577px) {
    .hide-price {
      display: block;
    }
    .phone-list{
        height: 138px;
    }
}
@media (min-width: 570px) {
    .phone-list{
        height: unset;
        align-items: center;
        flex-direction: unset;
    }
    .phone-list-item{
        display: none;
    }
}

.paginate_button{
    display: inline-block;
    padding: .375rem .75rem;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;

    color: #212529;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: transparent;
    cursor: pointer;
}
.cursor{
    cursor: pointer;
}
.mright{
    right: 20px !important;
    top: 5px !important;
}
.paginate_button.current{
    background-color: #5d78ff !important;
    color: #fff !important;
}
.f-bold{
    font-weight: 900;
}
.leaflet-bar{
    max-width: 244px !important;
}
.leaflet-top.leaflet-right{
    max-height: 425px;
}
.leaflet-routing-container.leaflet-bar.leaflet-control{
    max-height: 425px;
}

.leaflet-routing-alternatives-container{
    max-height: 300px;
}
.leaflet-routing-alt {
    max-height: 242px;
}
.f-aling{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mw-60{
    max-width: 60px !important;
}
.mw-250{
    max-width: 250px !important;
}
#chartdiv {
    width: 100%;
    height: 500px;
}
#mapa_client_direccion{
    width: 100%;
    height: 250px;
    z-index: 9;
}

.nameStatistics{
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
    border-bottom: 1px solid #eee;
}

.reveal{
    width: 100%;
    height: 300px;
}
.img-galery{
    max-width: 275px;
}

.borrar_img_producto{
    position: absolute;
}
.verSlide{
    position: absolute;
    bottom: 16px;
    left: 20px;
    z-index: 82;
}
/* slider */
.s-slide{
    height: 100% !important;
    background-size: cover !important;
    background-position: center center !important;
    top: 0px !important;
}
.text-muted-2 {
    color: #a7abc3 !important;
}
.f-18{
    font-size: 18px !important;
}


/*slider overlay*/

.slider-overlay{
    z-index: 9999;
    position: fixed;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    z-index: 1015;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background: rgba(0,0,0,.75);
    padding: 16px 16px 0;
}


/*botones*/
.slider-overlay .slider-close-btn{
    align-self: flex-end;
    opacity: .5;
}
.slider-overlay .slider-close-btn:hover{
    opacity: 1;
}
.slider-body .slider-close-btn{
    align-self: flex-end;
    opacity: .5;
}
.slider-body .slider-close-btn:hover{
    opacity: 1;
}
.slider-overlay .btn-icon-only{
        align-self: center;
}
.btn-icon-only{
    padding: 5px;
    font-size: 14px;
}
.btn-icon-only.btn-transparent .btn-icon-wrap{
    fill: #818d9a;
}
.slider-overlay .btn-icon-only .btn-icon-wrap{
    display: block;
    height: 40px;
    width: 40px;
}
.slider-overlay .btn-icon-only .btn-icon-wrap .slider-close{
    height: 40px;
    width: 40px;
    fill: #b5c6da;
}
.btn-transparent{
    color: #818d9a;
    background-color: transparent;
    background-image: none;
    outline: none;
    color: #1a81c5;
    position: relative;
    display: inline-block;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 16px;
    font-size: 14px;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.btn-transparent:focus{
    outline: none !important;
}
.sombra{
    box-shadow: 0 1px 1px 0
}
/*cuerpo del slider*/

.slider-body{
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}
.slider-body article{
    margin: 0 16px;
}
.slider-body article, .slider-body article .img-container-slider{
    width: 100%;
    height: 100%;
}
.slider-body .img-container-slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.slider-body article img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.shadow-footer{
    height: 80px;
}
.slider-footer{
    position: absolute;
    bottom: -82px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
    width: 100%;
}

.slider-footer .info-bar{
    color: #818d9a;
    margin-bottom: 16px;
}
.slider-footer .img-bar{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.contenedorMiniaturas{
    width: 100%; 
    overflow-x: auto;
    height: 80px;
}
.slider-footer .slider-options{
    transition: margin .5s,border 0s;
    margin: 0 8px -40px;
}
.slider-footer .slider-img-container{
        background-color: #000;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: #f0f3f7;
    border-radius: 2px;
    overflow: hidden;
    width: 64px;
    height: 64px;
}
.img-item-selected{
    border: 2px solid #27b7d7;
    border-radius: 2px;
}
.img-item-selected img{
    opacity: 1 !important;
}
.slider-footer .slider-img-container img{
    cursor: pointer;
    opacity: .5;
}
.slider-footer .slider-img-container img:hover{
    opacity: 1;
}
.img-container img{
    max-width: 64px;
    max-height: 64px;
}

.b-notific{
    position: absolute;
    top: 0;
    left: -14px;
}
.opacity-0{
    opacity: 0;
}
.inline-flex{
    display: inline-flex !important;
}
.Npty{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: white;
}
.flex-align{
    display: flex;
    align-items: center;
}
.overflow-hidden{
    overflow: hidden !important;
}
.close-noty{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 23px;
}

.table.table-light--success thead tr th{
    color: #0abb87 !important;
    background-color: rgba(10,187,135,.15);
}

.kt-login__logo img{
    max-width: 85px;
}
.borrarCatalogo{
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom:0;
}

.f14{
    font-size: 14px !important;
}
.input_c{
    width: 180px !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef !important;
    opacity: 1 !important;
}

.icons_features{
    display: flex;
    flex-direction: column-reverse;
}
.icons_features i{
    font-size: 15px !important;
    cursor: pointer !important;
}